<table class="table table-bordered table-condensed" id="view-current-markups">
  <thead>
    <tr>
      <th>SUPPLIER</th>
      <th>PRICE/CT FORM</th>
      <th>PRICE/CT TO</th>
      <th>% MARK UP</th>
      <th>$ MARK UP</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HASENFELD STEIN</td>
      <td>$0</td>
      <td>$1000</td>
      <td>2.00</td>
      <td>$25.00</td>
      <td class="checkme"><input type="checkbox"></td>
      <td class="delete"><i class="icon-trash"></i></td>
    </tr>
    <tr>
      <td>VENUS JEWEL</td>
      <td>$1001</td>
      <td>$2000.0</td>
      <td>25.00</td>
      <td>0.00</td>
      <td class="checkme"><input type="checkbox"></td>
      <td class="delete"><i class="icon-trash"></i></td>
    </tr>
    <tr>
      <td>DEVOTION DIAMONDS</td>
      <td>$2001</td>
      <td>$5000.0</td>
      <td>5.00</td>
      <td>0.00</td>
      <td class="checkme"><input type="checkbox"></td>
      <td class="delete"><i class="icon-trash"></i></td>
    </tr>
    <tr>
      <td>FOREVERMARK SIGNATURE</td>
      <td>$5001</td>
      <td>$10000.0</td>
      <td>10.00</td>
      <td>0.00</td>
      <td class="checkme"><input type="checkbox"></td>
      <td class="delete"><i class="icon-trash"></i></td>
    </tr>
    <tr>
      <td>PREMIER GEM</td>
      <td>NA</td>
      <td>NA</td>
      <td>NA</td>
      <td>NA</td>
      <td class="checkme"><input type="checkbox"></td>
      <td class="delete"><i class="icon-trash"></i></td>
  </tbody>
</table>
<div class="save-publish-btn"><a class="btn btn-primary" href="javascript:void(0);">Save & Publish</a></div>