<tr>
	<td>{{$pcFirstInput}}</td>
	<td>{{$pcSecondInput}}</td>
	<td>{{$pcThirdInput}}</td>
	<td>{{$pcFourthInput}}</td>
	<td class='checkme'><input type='checkbox'></td>
  <td class='delete'><i class="icon-trash"></i></td>
</tr>
