/*
	Newly created sample file
*/
.parent-div {
  padding-top: 41px;
}
h6 {
  font-weight: 400;
}
.tab-container {
  border-bottom: 3px solid #b3c4d3;
}
.tab-container .nav-tabs {
  border-bottom: 0;
  max-width: 350px;
  margin: 0 auto;
}
.tab-container .nav-tabs li {
  margin-bottom: 0;
}
.tab-container .nav-tabs li.active a,
.tab-container .nav-tabs li.active:hover a {
  border: 0;
  background: #194d78;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
}
.tab-container .nav-tabs li a {
  border: 0;
  color: #194d78;
  text-transform: uppercase;
}
.tab-container .nav-tabs li a:hover {
  border-color: initial;
  border: 0;
  background: transparent;
}
table thead {
  background: #ebebeb;
}
table thead th {
  color: #194d78;
}
#price-markup-range thead,
#carat-markup-range thead {
  background: transparent;
}
#price-markup-range thead th,
#carat-markup-range thead th {
  color: initial;
}
#price-markup-range tbody,
#carat-markup-range tbody {
  border-bottom: 1px solid #e0e0e0;
}
#price-markup-range td,
#carat-markup-range td {
  border-top: 0;
}
.tab-one-content {
  text-align: center;
  margin: 25px auto;
}
.tab-one-content .step-two {
  max-width: 740px;
  margin: 0 auto;
}
.add-button {
  max-width: 60px;
  float: right;
  margin: 20px 0;
}
.remove-button {
  max-width: 110px;
  float: right;
  margin: 20px 0;
}
.add-button a,
.remove-button a,
#price-markup-range td a,
#carat-markup-range td a,
.save-publish-btn a {
  background: #194d78;
  border-radius: 0;
  border: 0;
}
.divider {
  border: 1px solid #6f8693;
}
#step-two-radio-btns {
  text-align: left;
  margin: 0 5px;
}
#step-two-radio-btns label {
  font-weight: 600;
  color: #000;
}
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}
.radio-item input[type='radio'] {
  display: none;
}
.radio-item label {
  color: #666;
  font-weight: normal;
}
.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 15px;
  height: 15px;
  border-radius: 11px;
  border: 2px solid #194d78;
  background-color: transparent;
}
.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 15px;
  left: 11px;
  content: " ";
  display: block;
  background: #194d78;
}
.save-publish-btn {
  float: right;
  margin: 35px 0;
}
.save-publish-btn a {
  text-transform: uppercase;
  padding: 5px 25px;
  font-size: 12px;
}
span.symbol {
  color: #8a8a8a;
  font-size: 12px;
  position: relative;
  top: -4px;
  margin: 0 10px;
}
.question-mark {
  background: #e0e0e0;
  border-radius: 50%;
  padding: 1px 5px;
  width: 10px;
  height: 10px;
}
#step-two-parent {
  position: relative;
}
#step-two-parent > [class*='span6']:before {
  background: #dfdfdf;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  height: 82%;
  margin: 0 auto;
}
#view-current-markups {
  margin: 25px 0;
}
#myModal {
  max-width: 400px;
  border-radius: 0;
}
#myModal .modal-body {
  text-align: center;
}
#myModal .modal-body h3 {
  color: #194d78;
  text-transform: uppercase;
  line-height: 25px;
}
#myModal .modal-body p {
  color: #858585;
  font-size: 16px;
  padding: 0 45px;
}
#myModal .modal-body .modal-buttons button {
  background: #194d78;
  border-radius: 0;
  border: 0;
  max-width: 100px;
  width: 100%;
  margin: 15px;
  padding: 10px;
}
